.goods_wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
}

.goods_container {
	padding-top: 20px;
	display: grid;
	grid-template-columns: repeat(10, 160px);
	grid-gap: 20px 20px;
}

.goods_item {
	height: 180px;
	display: flex;
	flex-direction: column;
	position: relative;
	border: 3px solid grey;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	justify-content: space-between;
	padding-top: 8px;
	padding-bottom: 8px;
}

.goods_span {
	color: black;
}

.goods_span-price {
	color: red;
}

.fake_div {
	width: 48px;
	height: 48px;
}
